@use '../index.scss';

.ohhh-calendar-container {
  --calendar-row-height: 120px;

  --calendar-icon-size: 40px;

  --calendar-toolbar-font-size: 32px;
  --calendar-toolbar-column-gap: 32px;
  --calendar-toolbar-padding: 24px 32px;

  --calendar-footer-padding: 24px;

  --calendar-weekdays-height: 60px;
  --calendar-weekdays-font-size: 28px;

  --calendar-days-value-font-size: 28px;
  --calendar-days-label-font-size: 20px;

  --calendar-days-inner-size: 68px;
  --calendar-days-inner-padding: 4px;

  --calendar-days-marker-top-gap: 8px;
  --calendar-days-marker-size: 8px;

  --settings-presets-size: 48px;
  --settings-item-gap: 16px;
}

.ohhh-calendar-settings {
  padding: 16px 24px;
  gap: var(--settings-item-gap);
}

.ohhh-calendar-settings--label {
  font-size: 20px;
}

.ohhh-calendar-settings--select {
  font-size: 24px;
  padding: 12px 20px;
  padding-right: 40px;
  border-radius: 12px;
}

.ohhh-calendar-settings--slider {
  width: 120px;
  height: 8px;
  border-radius: 4px;
}

.ohhh-calendar-settings--slider::-webkit-slider-thumb {
  width: 24px;
  height: 24px;
}

.ohhh-calendar-settings--slider::-moz-range-thumb {
  width: 24px;
  height: 24px;
}

.ohhh-calendar-settings--screenshot-btn {
  font-size: 24px;
  padding: 12px 24px;
  border-radius: 12px;
}
